*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg1-color: #243642;
    --bg2-color: #387478;
    --text-color: #E2F1E7;
}

body{
    background-color: var(--bg1-color);
    color: var(--text-color);
}

.btn-custom{
    background-color: var(--bg1-color);
    color: var(--text-color);
}
.card{
    background-color: #387478;
}

footer a{
    margin-left: 60%;
}