*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg1-color: #243642;
    --bg2-color: #387478;
    --text-color: #E2F1E7;
}

body{
    background-image: linear-gradient(#243642,#243642);
    background-position: center;
    background-size: cover;
}

/* HEADER */

h1{
    color: var(--text-color)!important;
}

/* GRID LAYOUT */

.btn-custom{
    background-color: var(--bg1-color);
    color: var(--text-color);
}
.card{
    background-color: var(--bg2-color);
    transition: 0.2s;
}
.card:hover{
    scale: 1.1;
}